<nav id="navbar" class="bg-white fixed z-20 top-0 left-0 right-0 w-full border-b border-gray-300">
  <div class="flex px-8">
    <div class="flex items-center gap-x-6">
      <%= link_to root_path do %>
        <div class="flex items-center border-gray-300 border-r pr-6">
          <span class="tracking-tight text-5xl italic font-bold block text-center py-3">t.</span>
        </div>
      <% end %>
    </div>

    <div class="flex items-center gap-x-5 px-4 tracking-tight">
      <%= link_to_active "#", active_class: "active_app_nav_link", class: "text-sm font-medium hover:text-gray-highlight hover:cursor-pointer" do %>
      <% end %>

      <% if authenticated? %>
        <% if Current.user.backer? %>
        <%= link_to "My Talks", my_talks_path, class: "text-sm font-medium hover:text-gray-highlight hover:cursor-pointer" %>
        <% else %>
        <%= link_to "Account", root_url, class: "text-sm font-medium hover:text-gray-highlight hover:cursor-pointer" %>
        <% end %>
        <%= link_to "Payments", root_url, class: "text-sm font-medium hover:text-gray-highlight hover:cursor-pointer" %>
        <%= link_to "Settings", root_url, class: "text-sm font-medium hover:text-gray-highlight hover:cursor-pointer" %>
         <%= link_to "Help & FAQ", root_url, class: "text-sm font-medium hover:text-gray-highlight hover:cursor-pointer" %>
        <%= button_to "Sign Out", session_path, class: "text-sm font-medium hover:text-gray-highlight hover:cursor-pointer", method: :delete  %>
      <% else %>
        <%= link_to "Log in", new_session_path, class: "text-sm font-medium hover:text-gray-highlight hover:cursor-pointer" %>
        <%= link_to "Signup", new_registration_path, class: "text-sm font-medium hover:text-gray-highlight hover:cursor-pointer" %>
        <%= link_to "Become a creator", "#", class: "tracking-tight bg-stone-300 text-black rounded-full px-5 py-[12px] text-base font-medium hover:text-gray-highlight hover:cursor-pointer" %>
      <% end%>
    </div>
  </div>
</nav>
